<table class="table table-striped table-hover">
  <thead>
      <tr>
          <th>Id Rcpd</th>
          <th>Id Mvpd</th>
          <th>Cod Tprc</th>
          <th>Cod Strc</th>
          <th>Cod Prst</th>
          <th>Valor Rcpd</th>
          <th>Deposito Rcpd</th>
          <th>Sangria Rcpd</th>
          <th>Valorliq Rcpd</th>
          <th>Valorreal Rcpd</th>
      </tr>
  </thead>
</table>
