<table class="table table-striped table-hover">
  <thead>
      <tr>
          <th>Id Ittc</th>
          <th>Id Tcrp</th>
          <th>Tecla Ittc</th>
          <th>Tipo Ittc</th>
          <th>Cod Prod</th>
          <th>Cod Prom</th>
          <th>Qtde Ittc</th>
          <th>Desc Ittc</th>
      </tr>
  </thead>
</table>
