<table class="table table-striped table-hover">
  <thead>
      <tr>
          <th>Id Vda</th>
          <th>Numero Vda</th>
          <th>Nota Vda</th>
          <th>Tipooper Vda</th>
          <th>Cod Cdpg</th>
          <th>Cod Cli</th>
          <th>Cod Entr</th>
          <th>Cod Loja</th>
          <th>Cod Vend</th>
          <th>Id Mvpd</th>
          <th>Cfop Ntop</th>
          <th>Id Oper</th>
          <th>Id Oper Auto</th>
          <th>Id Enps Loja Vda</th>
          <th>Id Enps Cli Vda</th>
          <th>Id Enps Tran Vda</th>
          <th>Id Enps Ent Vda</th>
          <th>Id Enps Ret Vda</th>
          <th>Id Vol</th>
          <th>Data Vda</th>
          <th>Vlrmerc Vda</th>
          <th>Desconto Vda</th>
          <th>Acrescimo Vda</th>
          <th>Txentr Vda</th>
          <th>Servico Vda</th>
          <th>Modfrete Vda</th>
          <th>Pessoas Vda</th>
          <th>Comanda Vda</th>
          <th>Status Vda</th>
          <th>Frete Vda</th>
          <th>Seguro Vda</th>
          <th>Bicms Vda</th>
          <th>Icms Vda</th>
          <th>Bicmsst Vda</th>
          <th>Icmsst Vda</th>
          <th>Pis Vda</th>
          <th>Cofins Vda</th>
          <th>Ipi Vda</th>
          <th>Bissqn Vda</th>
          <th>Issqn Vda</th>
          <th>Ii Vda</th>
          <th>Vlrtot Vda</th>
          <th>Birrf Vda</th>
          <th>Bprev Vda</th>
          <th>Irrf Vda</th>
          <th>Rcofins Vda</th>
          <th>Rcsll Vda</th>
          <th>Rpis Vda</th>
          <th>Rprev Vda</th>
          <th>Desp Acessoria Vda</th>
          <th>Cod Tran</th>
          <th>Cfop Ntop Tran Vda</th>
          <th>Icms Tran Vda</th>
          <th>Basecalc Tran Vda</th>
          <th>Aliq Tran Vda</th>
          <th>Valor Tran Vda</th>
          <th>Pesoliq Vda</th>
          <th>Pesobrt Vda</th>
          <th>Prev Vda</th>
          <th>Pisretido Vda</th>
          <th>Cofinsretido Vda</th>
          <th>Csll Vda</th>
          <th>Pisissqn Vda</th>
          <th>Cofinsissqn Vda</th>
          <th>Vlrtotissqn Vda</th>
      </tr>
  </thead>
</table>
