<table class="table table-striped table-hover">
  <thead>
      <tr>
          <th>Id Arqr</th>
          <th>Nome Arqr</th>
          <th>Situacao Arqr</th>
          <th>Cod Loja</th>
          <th>Data Arqr</th>
          <th>Ip Arqr</th>
          <th>Obs Arqr</th>
          <th>Obscmtrbk Arqr</th>
          <th>Qtdeocor Arqr</th>
          <th>Sucesso Arqr</th>
          <th>Versao Arqr</th>
      </tr>
  </thead>
</table>
