<table class="table table-striped table-hover">
  <thead>
      <tr>
          <th>Id Itar</th>
          <th>Id Arv</th>
          <th>Cod Prod</th>
          <th>Perccusto Itar</th>
          <th>Quantidade Itar</th>
      </tr>
  </thead>
</table>
