<table class="table table-striped table-hover">
  <thead>
      <tr>
          <th>Id Ctrc</th>
          <th>Numero Ctrc</th>
          <th>Letra Ctrc</th>
          <th>Cod Cli</th>
          <th>Cod Ban</th>
          <th>Cod Loja</th>
          <th>Id Entr</th>
          <th>Emissao Ctrc</th>
          <th>Vencto Ctrc</th>
          <th>Pagto Ctrc</th>
          <th>Valor Ctrc</th>
          <th>Desconto Ctrc</th>
          <th>Juros Ctrc</th>
          <th>Valrec Ctrc</th>
          <th>Sitemissao Ctrc</th>
          <th>Historico Ctrc</th>
          <th>Id Vda</th>
          <th>Id Ctcr</th>
      </tr>
  </thead>
</table>
