<table class="table table-striped table-hover">
  <thead>
      <tr>
          <th>Id Itiv</th>
          <th>Id Inv</th>
          <th>Id Vlpr</th>
          <th>Qtde Itiv</th>
          <th>Id Oper</th>
      </tr>
  </thead>
</table>
