<table class="table table-striped table-hover">
  <thead>
      <tr>
          <th>Cod Tprc</th>
          <th>Desc Tprc</th>
          <th>Descred Tprc</th>
          <th>Ptsangria Tprc</th>
          <th>Impchq Tprc</th>
          <th>Tipotef Tprc</th>
          <th>Idtef Tprc</th>
          <th>Gerarec Tprc</th>
          <th>Reducao Tprc</th>
          <th>Viastef Tprc</th>
          <th>Id Rdtf</th>
          <th>Detalhe Tprc</th>
          <th>Grupofec Tprc</th>
          <th>Icone Tprc</th>
          <th>Comport Tprc</th>
      </tr>
  </thead>
</table>
