<table class="table table-striped table-hover">
  <thead>
      <tr>
          <th>Id Par</th>
          <th>Cod Loja</th>
          <th>Id Tppr</th>
          <th>Valor Par</th>
          <th>Texto Par</th>
      </tr>
  </thead>
</table>
