<table class="table table-striped table-hover">
  <thead>
      <tr>
          <th>Cod Grft</th>
          <th>Desc Grft</th>
          <th>Cf Grft</th>
          <th>Cst Grft</th>
          <th>Id Unid</th>
          <th>Origem Grft</th>
          <th>Ticms Grft</th>
          <th>Tipi Grft</th>
          <th>Tpis Grft</th>
          <th>Tcofins Grft</th>
      </tr>
  </thead>
</table>
