<table class="table table-striped table-hover">
  <thead>
      <tr>
          <th>Id Fone</th>
          <th>Numero Fone</th>
          <th>Obs Fone</th>
          <th>Id Pessoa</th>
      </tr>
  </thead>
</table>
