<table class="table table-striped table-hover">
  <thead>
      <tr>
          <th>Id Kit</th>
          <th>Cod Kit</th>
          <th>Desc Kit</th>
          <th>Lote Kit</th>
          <th>Obs Kit</th>
          <th>Foto Kit</th>
          <th>Cod Loja</th>
      </tr>
  </thead>
</table>
