<table class="table table-striped table-hover">
  <thead>
      <tr>
          <th>Id Itvd</th>
          <th>Id Vlpr</th>
          <th>Id Vda</th>
          <th>Id Itnf</th>
          <th>Cod Vend</th>
          <th>Id Pdls</th>
          <th>Cfop Ntop</th>
          <th>Item Itvd</th>
          <th>Qtde Itvd</th>
          <th>Preco Itvd</th>
          <th>Entregue Itvd</th>
          <th>Qtdeent Itvd</th>
          <th>Comanda Itvd</th>
          <th>Hora Itvd</th>
          <th>Desconto Itvd</th>
          <th>Seguro Itvd</th>
          <th>Frete Itvd</th>
          <th>Desp Acessoria Itvd</th>
          <th>Icms Itvd</th>
          <th>Bicms Itvd</th>
          <th>Oicms Itvd</th>
          <th>Micms Itvd</th>
          <th>Picms Itvd</th>
          <th>Qicms Itvd</th>
          <th>Sicms Itvd</th>
          <th>Ticms Itvd</th>
          <th>Vicms Itvd</th>
          <th>Bicmsst Itvd</th>
          <th>Icmsst Itvd</th>
          <th>Picmsst Itvd</th>
          <th>Qicmsst Itvd</th>
          <th>Ticmsst Itvd</th>
          <th>Vicmsst Itvd</th>
          <th>Pis Itvd</th>
          <th>Bpis Itvd</th>
          <th>Ppis Itvd</th>
          <th>Qpis Itvd</th>
          <th>Tpis Itvd</th>
          <th>Vpis Itvd</th>
          <th>Pisst Itvd</th>
          <th>Bpisst Itvd</th>
          <th>Ppisst Itvd</th>
          <th>Qpisst Itvd</th>
          <th>Vpisst Itvd</th>
          <th>Tpisst Itvd</th>
          <th>Cofins Itvd</th>
          <th>Pcofins Itvd</th>
          <th>Qcofins Itvd</th>
          <th>Vcofins Itvd</th>
          <th>Bcofins Itvd</th>
          <th>Tcofins Itvd</th>
          <th>Cofinsst Itvd</th>
          <th>Pcofinsst Itvd</th>
          <th>Qcofinsst Itvd</th>
          <th>Vcofinsst Itvd</th>
          <th>Bcofinsst Itvd</th>
          <th>Tcofinsst Itvd</th>
          <th>Ipi Itvd</th>
          <th>Pipi Itvd</th>
          <th>Qipi Itvd</th>
          <th>Vipi Itvd</th>
          <th>Bipi Itvd</th>
          <th>Tipi Itvd</th>
          <th>Ipist Itvd</th>
          <th>Pipist Itvd</th>
          <th>Qipist Itvd</th>
          <th>Vipist Itvd</th>
          <th>Bipist Itvd</th>
          <th>Tipist Itvd</th>
          <th>Issqn Itvd</th>
          <th>Pissqn Itvd</th>
          <th>Qissqn Itvd</th>
          <th>Vissqn Itvd</th>
          <th>Bissqn Itvd</th>
          <th>Tissqn Itvd</th>
          <th>Issqnst Itvd</th>
          <th>Pissqnst Itvd</th>
          <th>Qissqnst Itvd</th>
          <th>Vissqnst Itvd</th>
          <th>Bissqnst Itvd</th>
          <th>Tissqnst Itvd</th>
          <th>Ricms Itvd</th>
          <th>Ropicms Itvd</th>
          <th>Motdesicms Itvd</th>
          <th>Pcredicms Itvd</th>
          <th>Creditoicms Itvd</th>
          <th>Bicmsretido Itvd</th>
          <th>Icmsretido Itvd</th>
          <th>Micmsst Itvd</th>
          <th>Ricmsst Itvd</th>
          <th>Mvaicmsst Itvd</th>
          <th>Icmsst Id Uf Itvd</th>
          <th>Bicmsst Uf Rem Itvd</th>
          <th>Icmsst Uf Rem Itvd</th>
          <th>Bicmsst Uf Dest Itvd</th>
          <th>Icmsst Uf Dest Itvd</th>
          <th>Bicmsst Retido Itvd</th>
          <th>Icmsst Retido Itvd</th>
          <th>Opicms Itvd</th>
          <th>Scofins Itvd</th>
          <th>Spis Itvd</th>
          <th>Ipipeso Itvd</th>
          <th>Sipi Itvd</th>
          <th>Seloipi Itvd</th>
          <th>Qseloipi Itvd</th>
          <th>Enqipi Itvd</th>
          <th>Cenqipi Itvd</th>
          <th>Cnpjipi Itvd</th>
          <th>Bii Itvd</th>
          <th>Despaduii Itvd</th>
          <th>Iofii Itvd</th>
          <th>Ii Itvd</th>
          <th>Id Cid Issqn Itvd</th>
          <th>Vlrmerc Itvd</th>
          <th>Vlrtot Itvd</th>
          <th>Indtot Itvd</th>
          <th>Infoadi Itvd</th>
      </tr>
  </thead>
</table>
