<table class="table table-striped table-hover">
  <thead>
      <tr>
          <th>Id Tcrp</th>
          <th>Desc Tcrp</th>
          <th>Icone Tcrp</th>
          <th>Ordem Tcrp</th>
      </tr>
  </thead>
</table>
