<table class="table table-striped table-hover">
  <thead>
      <tr>
          <th>Id Itmv</th>
          <th>Id Oper</th>
          <th>Id Mvnt</th>
          <th>Id Vlpr</th>
          <th>Cod Tpmv</th>
          <th>Cod Tpmv Ds</th>
          <th>Cod Lces</th>
          <th>Cod Lces Ds</th>
          <th>Qtde Itmv</th>
          <th>Cod Loja Ds</th>
      </tr>
  </thead>
</table>
