<table class="table table-striped table-hover">
  <thead>
      <tr>
          <th>Cod Prod</th>
          <th>Cod Grpr</th>
          <th>Cod Grft</th>
          <th>Id Unid</th>
          <th>Id Unid Emb</th>
          <th>Cod Forn</th>
          <th>Desc Prod</th>
          <th>Descred Prod</th>
          <th>Custo Prod</th>
          <th>Margem Prod</th>
          <th>Preco Prod</th>
          <th>Codbal Prod</th>
          <th>Teclabal Prod</th>
          <th>Cod Stbl</th>
          <th>Pscaixa Prod</th>
          <th>Validade Prod</th>
          <th>Classeicms Prod</th>
          <th>Reducao Prod</th>
          <th>Cod Cdtr</th>
          <th>Cod Prom</th>
          <th>Cf Prod</th>
          <th>Icms Prod</th>
          <th>Icmsst Prod</th>
          <th>Pis Prod</th>
          <th>Pisst Prod</th>
          <th>Cofins Prod</th>
          <th>Cofinsst Prod</th>
          <th>Ipi Prod</th>
          <th>Ipipeso Prod</th>
          <th>Ipist Prod</th>
          <th>Issqn Prod</th>
          <th>Issqnst Prod</th>
          <th>Ii Prod</th>
          <th>Coefroya Prod</th>
          <th>Etiqmdpr Prod</th>
          <th>Etiqentr Prod</th>
          <th>Tipovenda Prod</th>
          <th>Tipoentr Prod</th>
          <th>Tipobaixa Prod</th>
          <th>Id Serv</th>
          <th>Pesoliq Prod</th>
          <th>Pesobrt Prod</th>
          <th>Largura Prod</th>
          <th>Altura Prod</th>
          <th>Compr Prod</th>
          <th>Estmin Prod</th>
          <th>Estmax Prod</th>
          <th>Qtdemb Prod</th>
          <th>Local Prod</th>
          <th>Id Ncm</th>
          <th>Obs Prod</th>
          <th>Ativo Prod</th>
          <th>Receitabal Prod</th>
          <th>Unidconv Prod</th>
          <th>Comissao Prod</th>
          <th>Id Orig</th>
          <th>Id Mdpd Icms</th>
          <th>Id Mdpd Icmsst</th>
          <th>Pbase Operacao Propria Prod</th>
          <th>Pcred Simples Nacional Prod</th>
          <th>Id Sitb Icms</th>
          <th>Id Sitb Csosn</th>
          <th>Id Sitb Ipi</th>
          <th>Id Sitb Pis</th>
          <th>Id Sitb Cofins</th>
          <th>Id Mdsp</th>
          <th>Cod Grtp</th>
      </tr>
  </thead>
</table>
