<table class="table table-striped table-hover">
  <thead>
      <tr>
          <th>Id Dsbs</th>
          <th>Id Tpds</th>
          <th>Cod Loja</th>
          <th>Padraozero Dsbs</th>
          <th>Margem Dsbs</th>
          <th>Valorpadrao Dsbs</th>
      </tr>
  </thead>
</table>
