<table class="table table-striped table-hover">
  <thead>
      <tr>
          <th>Id Ecf</th>
          <th>Id Mdec</th>
          <th>Serie Ecf</th>
          <th>Numero Ecf</th>
          <th>Calc Ecf</th>
          <th>Grpsangria Ecf</th>
          <th>Codsangria Ecf</th>
          <th>Grpdepos Ecf</th>
          <th>Coddepos Ecf</th>
      </tr>
  </thead>
</table>
