<table class="table table-striped table-hover">
  <thead>
      <tr>
          <th>Id Frpr</th>
          <th>Cod Forn</th>
          <th>Cod Prod</th>
          <th>Cod Fnpd</th>
      </tr>
  </thead>
</table>
