<table class="table table-striped table-hover">
  <thead>
      <tr>
          <th>Cod Tpmv</th>
          <th>Desc Tpmv</th>
          <th>Operprod Tpmv</th>
          <th>Opercomp Tpmv</th>
          <th>Cod Tpmv As</th>
      </tr>
  </thead>
</table>
