@{
    Layout = "~/Views/Shared/_Pages.cshtml";
}
@session Scripts {
    <script type="text/javascript" src="@Url.Content("~/Scripts/cadastros/servicos.js")"></script>
}
<form action="/" method="post" class="form-horizontal">
    <fieldset>
        <legend>Servicos</legend>
    @Html.Hidden("ID_SERV")
        <div class="control-group">
            <label class="control-label" for="COD_SERV">Cod Serv</label>
            <div class="controls">
                @Html.EditorFor(model => model.COD_SERV)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="DESC_SERV">Desc Serv</label>
            <div class="controls">
                @Html.EditorFor(model => model.DESC_SERV)
            </div>
        </div>
    </fieldset>
</form>
