<table class="table table-striped table-hover">
  <thead>
      <tr>
          <th>Id Trpd</th>
          <th>Id Pdv</th>
          <th>Id Tcrp</th>
          <th>Ordem Trpd</th>
      </tr>
  </thead>
</table>
