<table class="table table-striped table-hover">
  <thead>
      <tr>
          <th>Id Nf</th>
          <th>Numero Nf</th>
          <th>Chave Nf</th>
          <th>Dv Nf</th>
          <th>Chavenfe Nf</th>
          <th>Modelo Nf</th>
          <th>Tipoop Nf</th>
          <th>Tipoemissao Nf</th>
          <th>Ambiente Nf</th>
          <th>Finalidade Nf</th>
          <th>Tipodanfe Nf</th>
          <th>Versao Nf</th>
          <th>Versaomr Nf</th>
          <th>Id Srnf</th>
          <th>Cod Loja</th>
          <th>Cod Cli</th>
          <th>Cod Forn</th>
          <th>Cfop Ntop</th>
          <th>Cfop Ntop Tran Nf</th>
          <th>Id Oper</th>
          <th>Id Entr</th>
          <th>Id Vda</th>
          <th>Cod Cdpg</th>
          <th>Cod Vend</th>
          <th>Cod Tran</th>
          <th>Id Veic</th>
          <th>Id Cid</th>
          <th>Data Nf</th>
          <th>Emissao Nf</th>
          <th>Saient Nf</th>
          <th>Condicional Nf</th>
          <th>Bicms Nf</th>
          <th>Icms Nf</th>
          <th>Bicmsst Nf</th>
          <th>Icmsst Nf</th>
          <th>Ipi Nf</th>
          <th>Ipist Nf</th>
          <th>Pis Nf</th>
          <th>Pisst Nf</th>
          <th>Cofins Nf</th>
          <th>Cofinsst Nf</th>
          <th>Vlrmerc Nf</th>
          <th>Frete Nf</th>
          <th>Seguro Nf</th>
          <th>Desconto Nf</th>
          <th>Desp Acessoria Nf</th>
          <th>Vlrtot Nf</th>
          <th>Mensagem Nf</th>
          <th>Obs Nf</th>
          <th>Status Nf</th>
          <th>Id Enps Cli Nf</th>
          <th>Id Enps Ent Nf</th>
          <th>Id Enps Loja Nf</th>
          <th>Id Enps Ret Nf</th>
          <th>Id Enps Tran Nf</th>
          <th>Ii Nf</th>
          <th>Birrf Nf</th>
          <th>Irrf Nf</th>
          <th>Bprev Nf</th>
          <th>Prev Nf</th>
          <th>Ripi Nf</th>
          <th>Rpis Nf</th>
          <th>Rcofins Nf</th>
          <th>Rcsll Nf</th>
          <th>Modfrete Nf</th>
          <th>Bicms Tran Nf</th>
          <th>Picms Tran Nf</th>
          <th>Icms Tran Nf</th>
          <th>Valor Tran Nf</th>
          <th>Pesoliq Nf</th>
          <th>Pesobrt Nf</th>
          <th>Proc Nfe</th>
          <th>Proccanc Nfe</th>
          <th>Procinut Nfe</th>
      </tr>
  </thead>
</table>
