<table class="table table-striped table-hover">
  <thead>
      <tr>
          <th>Id Inv</th>
          <th>Cod Loja</th>
          <th>Datini Inv</th>
          <th>Datfin Inv</th>
          <th>Valorest Inv</th>
          <th>Valorinv Inv</th>
          <th>Id Oper</th>
          <th>Cod Lces</th>
      </tr>
  </thead>
</table>
