<table class="table table-striped table-hover">
  <thead>
      <tr>
          <th>Id Enps</th>
          <th>Id Pessoa</th>
          <th>Id Tpen</th>
          <th>Logradouro Enps</th>
          <th>Numero Enps</th>
          <th>Compl Enps</th>
          <th>Bairro Enps</th>
          <th>Cidade Enps</th>
          <th>Codibge Cid Enps</th>
          <th>Uf Enps</th>
          <th>Codibge Uf Enps</th>
          <th>Cep Enps</th>
          <th>Padrao Enps</th>
      </tr>
  </thead>
</table>
