<table class="table table-striped table-hover">
  <thead>
      <tr>
          <th>Id Bar</th>
          <th>Cod Bar</th>
          <th>Cod Prod</th>
          <th>Principal Cdbr</th>
      </tr>
  </thead>
</table>
