<table class="table table-striped table-hover">
  <thead>
      <tr>
          <th>Id Pdcp</th>
          <th>Numero Pdcp</th>
          <th>Cod Loja</th>
          <th>Cod Forn</th>
          <th>Cfop Ntop</th>
          <th>Cfop Ntop Tran Pdcp</th>
          <th>Id Oper</th>
          <th>Id Entr</th>
          <th>Cod Cdpg</th>
          <th>Cod Vend</th>
          <th>Cod Tran</th>
          <th>Id Veic</th>
          <th>Data Pdcp</th>
          <th>Emissao Pdcp</th>
          <th>Condicional Pdcp</th>
          <th>Bicms Pdcp</th>
          <th>Icms Pdcp</th>
          <th>Bicmsst Pdcp</th>
          <th>Icmsst Pdcp</th>
          <th>Ipi Pdcp</th>
          <th>Ipist Pdcp</th>
          <th>Pis Pdcp</th>
          <th>Pisst Pdcp</th>
          <th>Cofins Pdcp</th>
          <th>Cofinsst Pdcp</th>
          <th>Vlrmerc Pdcp</th>
          <th>Frete Pdcp</th>
          <th>Seguro Pdcp</th>
          <th>Desconto Pdcp</th>
          <th>Desp Acessoria Pdcp</th>
          <th>Vlrtot Pdcp</th>
          <th>Obs Pdcp</th>
          <th>Tipo Pdcp</th>
          <th>Status Pdcp</th>
          <th>Id Enps Forn Pdcp</th>
          <th>Id Enps Ent Pdcp</th>
          <th>Id Enps Loja Pdcp</th>
          <th>Id Enps Ret Pdcp</th>
          <th>Id Enps Tran Pdcp</th>
          <th>Ii Pdcp</th>
          <th>Birrf Pdcp</th>
          <th>Irrf Pdcp</th>
          <th>Bprev Pdcp</th>
          <th>Prev Pdcp</th>
          <th>Ripi Pdcp</th>
          <th>Rpis Pdcp</th>
          <th>Rcofins Pdcp</th>
          <th>Rcsll Pdcp</th>
          <th>Modfrete Pdcp</th>
          <th>Bicms Tran Pdcp</th>
          <th>Picms Tran Pdcp</th>
          <th>Icms Tran Pdcp</th>
          <th>Valor Tran Pdcp</th>
          <th>Pesoliq Pdcp</th>
          <th>Pesobrt Pdcp</th>
      </tr>
  </thead>
</table>
