<table class="table table-striped table-hover">
  <thead>
      <tr>
          <th>Id Vlmr</th>
          <th>Id Mprs</th>
          <th>Cod Ct</th>
          <th>Valortrib Mprs</th>
          <th>Taxatrib Mprs</th>
      </tr>
  </thead>
</table>
