<table class="table table-striped table-hover">
  <thead>
      <tr>
          <th>Id Itnf</th>
          <th>Id Nf</th>
          <th>Id Vlpr</th>
          <th>Id Pdls</th>
          <th>Cod Vend</th>
          <th>Cod Lces</th>
          <th>Cfop Ntop</th>
          <th>Id Orig</th>
          <th>Id Uf Op Itnf</th>
          <th>Id Sitb Icms</th>
          <th>Id Sitb Ipi</th>
          <th>Id Sitb Pis</th>
          <th>Id Sitb Cofins</th>
          <th>Id Mdpd</th>
          <th>Id Mdpd St</th>
          <th>Id Mdsp</th>
          <th>Id Cid Issqn Itnf</th>
          <th>Item Itnf</th>
          <th>Tipo Itnf</th>
          <th>Comanda Itnf</th>
          <th>Hora Itnf</th>
          <th>Qtde Itnf</th>
          <th>Faturado Itnf</th>
          <th>Preco Itnf</th>
          <th>Desconto Itnf</th>
          <th>Frete Itnf</th>
          <th>Seguro Itnf</th>
          <th>Desp Acessoria Itnf</th>
          <th>Condicional Itnf</th>
          <th>Prop Desconto Itnf</th>
          <th>Padrao Desconto Itnf</th>
          <th>Indtot Itnf</th>
          <th>Bicms Itnf</th>
          <th>Picms Itnf</th>
          <th>Icms Itnf</th>
          <th>Ricms Itnf</th>
          <th>Bopicms Itnf</th>
          <th>Ricmsst Itnf</th>
          <th>Mva Icmsst Itnf</th>
          <th>Bicmsst Itnf</th>
          <th>Picmsst Itnf</th>
          <th>Icmsst Itnf</th>
          <th>Bicmsst Uf Emit Itnf</th>
          <th>Icmsst Uf Emit Itnf</th>
          <th>Bicmsst Uf Dest Itnf</th>
          <th>Icmsst Uf Dest Itnf</th>
          <th>Bicmsst Ant Itnf</th>
          <th>Icmsst Ant Itnf</th>
          <th>Selo Ipi Itnf</th>
          <th>Qselo Ipi Itnf</th>
          <th>Enq Ipi Itnf</th>
          <th>Cnpj Produtor Ipi Itnf</th>
          <th>Calculo Ipi</th>
          <th>Bipi Itnf</th>
          <th>Pipi Itnf</th>
          <th>Qipi Itnf</th>
          <th>Vipi Itnf</th>
          <th>Ipi Itnf</th>
          <th>Calculo Pis</th>
          <th>Bpis Itnf</th>
          <th>Ppis Itnf</th>
          <th>Qpis Itnf</th>
          <th>Pis Itnf</th>
          <th>Calculo Pisst</th>
          <th>Bpisst Itnf</th>
          <th>Ppisst Itnf</th>
          <th>Qpisst Itnf</th>
          <th>Pisst Itnf</th>
          <th>Calculo Cofins</th>
          <th>Bcofins Itnf</th>
          <th>Pcofins Itnf</th>
          <th>Qcofins Itnf</th>
          <th>Cofins Itnf</th>
          <th>Calculo Cofinsst</th>
          <th>Bcofinsst Itnf</th>
          <th>Pcofinsst Itnf</th>
          <th>Qcofinsst Itnf</th>
          <th>Cofinsst Itnf</th>
          <th>Bii Itnf</th>
          <th>Aduii Itnf</th>
          <th>Iofii Itnf</th>
          <th>Ii Itnf</th>
          <th>Obs Itnf</th>
          <th>Tissqn Itnf</th>
          <th>Bissqnst Itnf</th>
          <th>Pissqnst Itnf</th>
          <th>Issqn Itnf</th>
          <th>Vlrmerc Itnf</th>
          <th>Vlrtot Itnf</th>
          <th>Qtde Faturada Itnf</th>
          <th>Qtde Faturar Itnf</th>
      </tr>
  </thead>
</table>
