<table class="table table-striped table-hover">
  <thead>
      <tr>
          <th>Id Not</th>
          <th>Titulo Not</th>
          <th>Texto Not</th>
          <th>Data Not</th>
      </tr>
  </thead>
</table>
