<table class="table table-striped table-hover">
  <thead>
      <tr>
          <th>Id Itfs</th>
          <th>Id Vlpr</th>
          <th>Id Pdls</th>
          <th>Cfop Ntop</th>
          <th>Cod Vend</th>
          <th>Cod Lces</th>
          <th>Item Itfs</th>
          <th>Qtde Itfs</th>
          <th>Preco Itfs</th>
          <th>Entregue Itfs</th>
          <th>Qtdeent Itfs</th>
          <th>Comanda Itfs</th>
          <th>Hora Itfs</th>
          <th>Desconto Itfs</th>
          <th>Seguro Itfs</th>
          <th>Frete Itfs</th>
          <th>Desp Acessoria Itfs</th>
          <th>Icms Itfs</th>
          <th>Bicms Itfs</th>
          <th>Oicms Itfs</th>
          <th>Micms Itfs</th>
          <th>Picms Itfs</th>
          <th>Qicms Itfs</th>
          <th>Sicms Itfs</th>
          <th>Ticms Itfs</th>
          <th>Vicms Itfs</th>
          <th>Bicmsst Itfs</th>
          <th>Icmsst Itfs</th>
          <th>Picmsst Itfs</th>
          <th>Qicmsst Itfs</th>
          <th>Ticmsst Itfs</th>
          <th>Vicmsst Itfs</th>
          <th>Pis Itfs</th>
          <th>Bpis Itfs</th>
          <th>Ppis Itfs</th>
          <th>Qpis Itfs</th>
          <th>Tpis Itfs</th>
          <th>Vpis Itfs</th>
          <th>Pisst Itfs</th>
          <th>Bpisst Itfs</th>
          <th>Ppisst Itfs</th>
          <th>Qpisst Itfs</th>
          <th>Vpisst Itfs</th>
          <th>Tpisst Itfs</th>
          <th>Cofins Itfs</th>
          <th>Pcofins Itfs</th>
          <th>Qcofins Itfs</th>
          <th>Vcofins Itfs</th>
          <th>Bcofins Itfs</th>
          <th>Tcofins Itfs</th>
          <th>Cofinsst Itfs</th>
          <th>Pcofinsst Itfs</th>
          <th>Qcofinsst Itfs</th>
          <th>Vcofinsst Itfs</th>
          <th>Bcofinsst Itfs</th>
          <th>Tcofinsst Itfs</th>
          <th>Ipi Itfs</th>
          <th>Pipi Itfs</th>
          <th>Qipi Itfs</th>
          <th>Vipi Itfs</th>
          <th>Bipi Itfs</th>
          <th>Tipi Itfs</th>
          <th>Ipist Itfs</th>
          <th>Pipist Itfs</th>
          <th>Qipist Itfs</th>
          <th>Vipist Itfs</th>
          <th>Bipist Itfs</th>
          <th>Tipist Itfs</th>
          <th>Issqn Itfs</th>
          <th>Pissqn Itfs</th>
          <th>Qissqn Itfs</th>
          <th>Vissqn Itfs</th>
          <th>Bissqn Itfs</th>
          <th>Tissqn Itfs</th>
          <th>Issqnst Itfs</th>
          <th>Pissqnst Itfs</th>
          <th>Qissqnst Itfs</th>
          <th>Vissqnst Itfs</th>
          <th>Bissqnst Itfs</th>
          <th>Tissqnst Itfs</th>
          <th>Ricms Itfs</th>
          <th>Ropicms Itfs</th>
          <th>Motdesicms Itfs</th>
          <th>Pcredicms Itfs</th>
          <th>Creditoicms Itfs</th>
          <th>Bicmsretido Itfs</th>
          <th>Icmsretido Itfs</th>
          <th>Micmsst Itfs</th>
          <th>Ricmsst Itfs</th>
          <th>Mvaicmsst Itfs</th>
          <th>Icmsst Id Uf Itfs</th>
          <th>Bicmsst Uf Rem Itfs</th>
          <th>Icmsst Uf Rem Itfs</th>
          <th>Bicmsst Uf Dest Itfs</th>
          <th>Icmsst Uf Dest Itfs</th>
          <th>Bicmsst Retido Itfs</th>
          <th>Icmsst Retido Itfs</th>
          <th>Opicms Itfs</th>
          <th>Scofins Itfs</th>
          <th>Spis Itfs</th>
          <th>Ipipeso Itfs</th>
          <th>Sipi Itfs</th>
          <th>Seloipi Itfs</th>
          <th>Qseloipi Itfs</th>
          <th>Enqipi Itfs</th>
          <th>Cenqipi Itfs</th>
          <th>Cnpjipi Itfs</th>
          <th>Bii Itfs</th>
          <th>Despaduii Itfs</th>
          <th>Iofii Itfs</th>
          <th>Ii Itfs</th>
          <th>Id Cid Issqn Itfs</th>
          <th>Vlrmerc Itfs</th>
          <th>Vlrtot Itfs</th>
          <th>Indtot Itfs</th>
          <th>Infoadi Itfs</th>
          <th>Qtde Faturada Itfs</th>
          <th>Qtde Faturar Itfs</th>
          <th>Tipoespecifico Itfs</th>
          <th>Condicional Itfs</th>
          <th>Prop Desconto Itfs</th>
          <th>Padrao Desconto Itfs</th>
      </tr>
  </thead>
</table>
