<table class="table table-striped table-hover">
  <thead>
      <tr>
          <th>Id Mdec</th>
          <th>Id Mecf</th>
          <th>Desc Mdec</th>
          <th>Obs Mdec</th>
      </tr>
  </thead>
</table>
