<table class="table table-striped table-hover">
  <thead>
      <tr>
          <th>Id Pessoa</th>
          <th>Cod Loja</th>
          <th>Nome Pessoa</th>
          <th>Tipo Pessoa</th>
          <th>Obs Pessoa</th>
          <th>Fantasia Pessoa</th>
          <th>Cod Doc</th>
          <th>Nascimento Pessoa</th>
          <th>Aniversario Pessoa</th>
          <th>Datacad Pessoa</th>
          <th>Natureza Pessoa</th>
          <th>Senha Pessoa</th>
          <th>Foto Pessoa</th>
          <th>Senha Pdv</th>
      </tr>
  </thead>
</table>
