<table class="table table-striped table-hover">
  <thead>
      <tr>
          <th>Cod Prom</th>
          <th>Desc Prom</th>
          <th>Qtde Prom</th>
          <th>Valor Prom</th>
          <th>Desconto Prom</th>
      </tr>
  </thead>
</table>
