<table class="table table-striped table-hover">
  <thead>
      <tr>
          <th>Cod Prod</th>
          <th>Cod Loja</th>
          <th>Pscaixa Pdlj</th>
          <th>Etiqprog Pdlj</th>
          <th>Coefroya Pdlj</th>
          <th>Tipovenda Pdlj</th>
          <th>Tipobaixa Pdlj</th>
          <th>Tipoentr Pdlj</th>
          <th>Estmin Pdlj</th>
          <th>Estmax Pdlj</th>
          <th>Local Pdlj</th>
          <th>Cod Cdtr</th>
          <th>Cod Prom</th>
          <th>Cst Pdlj</th>
          <th>Ipi Pdlj</th>
          <th>Icms Pdlj</th>
          <th>Reducao Pdlj</th>
          <th>Substr Pdlj</th>
          <th>Ipipeso Pdlj</th>
          <th>Cf Pdlj</th>
          <th>Impressora Pdlj</th>
      </tr>
  </thead>
</table>
