<table class="table table-striped table-hover">
  <thead>
      <tr>
          <th>Id Vlpr</th>
          <th>Cod Prod</th>
          <th>Id Vlpr01</th>
          <th>Id Vlpr02</th>
          <th>Id Vlpr03</th>
      </tr>
  </thead>
</table>
