<table class="table table-striped table-hover">
  <thead>
      <tr>
          <th>Id Fndu</th>
          <th>Id Cid</th>
          <th>Ddd Fndu</th>
          <th>Fone Fndu</th>
      </tr>
  </thead>
</table>
