<table class="table table-striped table-hover">
  <thead>
      <tr>
          <th>Id Adic</th>
          <th>Numero Adic</th>
          <th>Item Adic</th>
          <th>Cod Fabr</th>
          <th>Desconto Adic</th>
          <th>Id Dcim</th>
      </tr>
  </thead>
</table>
