<table class="table table-striped table-hover">
  <thead>
      <tr>
          <th>Id Mter</th>
          <th>Numero Mter</th>
          <th>Cod Loja</th>
          <th>Id Pdv</th>
          <th>Desc Mter</th>
          <th>Tipo Mter</th>
          <th>Timeout Mter</th>
          <th>Novacom Mter</th>
          <th>Tipocon Mter</th>
          <th>Teclacom Mter</th>
          <th>Teclacli Mter</th>
          <th>Teclavend Mter</th>
          <th>Teclabal Mter</th>
          <th>Teclaprod Mter</th>
          <th>Teclamult Mter</th>
          <th>Teclapreco Mter</th>
          <th>Teclafec Mter</th>
          <th>Teclafcp Mter</th>
          <th>Teclacns Mter</th>
          <th>Teclasim Mter</th>
          <th>Teclanao Mter</th>
          <th>Cod Lista</th>
          <th>Comini Mter</th>
          <th>Comfin Mter</th>
          <th>Toserial Mter</th>
          <th>Baltmret Mter</th>
          <th>Balini Mter</th>
          <th>Baltam Mter</th>
          <th>Baldiv Mter</th>
          <th>Balcnf Mter</th>
          <th>Torre Mter</th>
          <th>Endip Mter</th>
      </tr>
  </thead>
</table>
