<table class="table table-striped table-hover">
  <thead>
      <tr>
          <th>Cod Loja</th>
          <th>Nome Loja</th>
          <th>Ativo Loja</th>
          <th>Id Pessoa</th>
          <th>Id Rgtr</th>
          <th>Ulttrans Loja</th>
          <th>Cod Lista</th>
          <th>Id Cnae</th>
          <th>Ambientenfe Loja</th>
          <th>Danfenfe Loja</th>
      </tr>
  </thead>
</table>
