<table class="table table-striped table-hover">
  <thead>
      <tr>
          <th>Id Ocpd</th>
          <th>Id Mvpd</th>
          <th>Cod Tpoc</th>
          <th>Id Rcpd</th>
          <th>Cod Oper Sup</th>
          <th>Cod Tpsg</th>
          <th>Id Tpds</th>
          <th>Valor Ocpd</th>
          <th>Data Ocpd</th>
          <th>Obs Ocpd</th>
      </tr>
  </thead>
</table>
