<table class="table table-striped table-hover">
  <thead>
      <tr>
          <th>Id Coms</th>
          <th>Status Coms</th>
          <th>Datafat Coms</th>
          <th>Datavenc Coms</th>
          <th>Numero Coms</th>
          <th>Letra Coms</th>
          <th>Valpag Coms</th>
          <th>Valor Coms</th>
          <th>Tipo Coms</th>
          <th>Cod Cli</th>
          <th>Cod Vend</th>
          <th>Cod Cdpg</th>
          <th>Parcela Coms</th>
      </tr>
  </thead>
</table>
