<table class="table table-striped table-hover">
  <thead>
      <tr>
          <th>Id Iten</th>
          <th>Id Entr</th>
          <th>Id Vlpr</th>
          <th>Id Pdls</th>
          <th>Cod Vend</th>
          <th>Cod Lces</th>
          <th>Cfop Ntop</th>
          <th>Id Orig</th>
          <th>Id Uf Op Iten</th>
          <th>Id Sitb Icms</th>
          <th>Id Sitb Ipi</th>
          <th>Id Sitb Pis</th>
          <th>Id Sitb Cofins</th>
          <th>Id Mdpd</th>
          <th>Id Mdpd St</th>
          <th>Id Mdsp</th>
          <th>Id Cid Issqn Iten</th>
          <th>Item Iten</th>
          <th>Tipo Iten</th>
          <th>Comanda Iten</th>
          <th>Hora Iten</th>
          <th>Qtde Iten</th>
          <th>Faturado Iten</th>
          <th>Preco Iten</th>
          <th>Desconto Iten</th>
          <th>Frete Iten</th>
          <th>Seguro Iten</th>
          <th>Desp Acessoria Iten</th>
          <th>Condicional Iten</th>
          <th>Prop Desconto Iten</th>
          <th>Padrao Desconto Iten</th>
          <th>Indtot Iten</th>
          <th>Bicms Iten</th>
          <th>Picms Iten</th>
          <th>Icms Iten</th>
          <th>Ricms Iten</th>
          <th>Bopicms Iten</th>
          <th>Ricmsst Iten</th>
          <th>Mva Icmsst Iten</th>
          <th>Bicmsst Iten</th>
          <th>Picmsst Iten</th>
          <th>Icmsst Iten</th>
          <th>Bicmsst Uf Emit Iten</th>
          <th>Icmsst Uf Emit Iten</th>
          <th>Bicmsst Uf Dest Iten</th>
          <th>Icmsst Uf Dest Iten</th>
          <th>Bicmsst Ant Iten</th>
          <th>Icmsst Ant Iten</th>
          <th>Selo Ipi Iten</th>
          <th>Qselo Ipi Iten</th>
          <th>Enq Ipi Iten</th>
          <th>Cnpj Produtor Ipi Iten</th>
          <th>Calculo Ipi</th>
          <th>Bipi Iten</th>
          <th>Pipi Iten</th>
          <th>Qipi Iten</th>
          <th>Vipi Iten</th>
          <th>Ipi Iten</th>
          <th>Calculo Pis</th>
          <th>Bpis Iten</th>
          <th>Ppis Iten</th>
          <th>Qpis Iten</th>
          <th>Pis Iten</th>
          <th>Calculo Pisst</th>
          <th>Bpisst Iten</th>
          <th>Ppisst Iten</th>
          <th>Qpisst Iten</th>
          <th>Pisst Iten</th>
          <th>Calculo Cofins</th>
          <th>Bcofins Iten</th>
          <th>Pcofins Iten</th>
          <th>Qcofins Iten</th>
          <th>Cofins Iten</th>
          <th>Calculo Cofinsst</th>
          <th>Bcofinsst Iten</th>
          <th>Pcofinsst Iten</th>
          <th>Qcofinsst Iten</th>
          <th>Cofinsst Iten</th>
          <th>Bii Iten</th>
          <th>Aduii Iten</th>
          <th>Iofii Iten</th>
          <th>Ii Iten</th>
          <th>Obs Iten</th>
          <th>Tissqn Iten</th>
          <th>Bissqnst Iten</th>
          <th>Pissqnst Iten</th>
          <th>Issqn Iten</th>
          <th>Vlrmerc Iten</th>
          <th>Vlrtot Iten</th>
          <th>Qtde Faturada Iten</th>
          <th>Qtde Faturar Iten</th>
      </tr>
  </thead>
</table>
