<table class="table table-striped table-hover">
  <thead>
      <tr>
          <th>Id Vol</th>
          <th>Qtde Vol</th>
          <th>Especie Vol</th>
          <th>Marca Vol</th>
          <th>Numeracao Vol</th>
          <th>Pesoliq Vol</th>
          <th>Pesobrt Vol</th>
      </tr>
  </thead>
</table>
