<table class="table table-striped table-hover">
  <thead>
      <tr>
          <th>Cod Prst</th>
          <th>Cod Strc</th>
          <th>Desc Prst</th>
          <th>Seqnum Prst</th>
          <th>Seqletra Prst</th>
          <th>Desconto Prst</th>
          <th>Dias1 Prst</th>
          <th>Dias2 Prst</th>
          <th>Dias3 Prst</th>
          <th>Dias4 Prst</th>
          <th>Dias5 Prst</th>
          <th>Dias6 Prst</th>
      </tr>
  </thead>
</table>
