<table class="table table-striped table-hover">
  <thead>
      <tr>
          <th>Cod Cdpg</th>
          <th>Desc Cdpg</th>
          <th>Tipo Cdpg</th>
          <th>Taxa Cdpg</th>
          <th>Tac Cdpg</th>
          <th>Coef Cdpg</th>
          <th>Dia Cdpg</th>
          <th>Parcelas Cdpg</th>
      </tr>
  </thead>
</table>
