<table class="table table-striped table-hover">
  <thead>
      <tr>
          <th>Cod Tpsg</th>
          <th>Desc Tpsg</th>
          <th>Autoriza Tpsg</th>
          <th>Emissao Tpsg</th>
      </tr>
  </thead>
</table>
