<table class="table table-striped table-hover">
  <thead>
      <tr>
          <th>Id Rdtf</th>
          <th>Cod Loja</th>
          <th>Numero Rdtf</th>
          <th>Nome Rdtf</th>
          <th>Arqtmp Rdtf</th>
          <th>Arqreq Rdtf</th>
          <th>Arqsta Rdtf</th>
          <th>Arqres Rdtf</th>
          <th>Arqexe Rdtf</th>
          <th>Tentativas Rdtf</th>
          <th>Totef Rdtf</th>
          <th>Totrs Rdtf</th>
          <th>Viastef Rdtf</th>
          <th>Viasadm Rdtf</th>
          <th>Tipocnf Rdtf</th>
          <th>Mtpl Rdtf</th>
          <th>Mtplenv Rdtf</th>
          <th>Mascval Rdtf</th>
          <th>Mensinat Rdtf</th>
          <th>Mensncn Rdtf</th>
          <th>Menscnc Rdtf</th>
          <th>Mensnc2 Rdtf</th>
          <th>Autofinal Rdtf</th>
          <th>Autocanc Rdtf</th>
          <th>Atv Rdtf</th>
      </tr>
  </thead>
</table>
