<table class="table table-striped table-hover">
  <thead>
      <tr>
          <th>Id Dcps</th>
          <th>Id Pessoa</th>
          <th>Cod Doc</th>
          <th>Valor Dcps</th>
          <th>Id Uf</th>
      </tr>
  </thead>
</table>
