<table class="table table-striped table-hover">
  <thead>
      <tr>
          <th>Id Psrl</th>
          <th>Id Pessoaa</th>
          <th>Id Pessoab</th>
          <th>Cod Grrl</th>
          <th>Data Grrl</th>
      </tr>
  </thead>
</table>
