<table class="table table-striped table-hover">
  <thead>
      <tr>
          <th>Cod Cli</th>
          <th>Cod Tran</th>
          <th>Cod Vend</th>
          <th>Cod Reg</th>
          <th>Cod Grcl</th>
          <th>Cod Situ</th>
          <th>Cod Ind</th>
          <th>Cod Lista</th>
          <th>Id Pessoa</th>
          <th>Cod Loja</th>
          <th>Codcllj Cli</th>
          <th>Ativo Cli</th>
          <th>Datacad Cli</th>
          <th>Dataultvis Cli</th>
          <th>Interesse Cli</th>
          <th>Credito Cli</th>
          <th>Txentr Cli</th>
          <th>Limite Cli</th>
          <th>Captacao Cli</th>
      </tr>
  </thead>
</table>
