<table class="table table-striped table-hover">
  <thead>
      <tr>
          <th>Id Inut</th>
          <th>Ambiente Inut</th>
          <th>Sigla Uf</th>
          <th>Ano Inut</th>
          <th>Cnpj Inut</th>
          <th>Modelo Inut</th>
          <th>Serie Inut</th>
          <th>Numero Inicial Inut</th>
          <th>Numero Inicial Inut</th>
          <th>Numero Final Inut</th>
          <th>Numero Final Inut</th>
          <th>Justificativa Inut</th>
          <th>Justificativa Inut</th>
          <th>Cod Loja</th>
      </tr>
  </thead>
</table>
