<table class="table table-striped table-hover">
  <thead>
      <tr>
          <th>Id Log</th>
          <th>Id Oper</th>
          <th>Ip Log</th>
          <th>Data Log</th>
          <th>Acao Log</th>
      </tr>
  </thead>
</table>
