<table class="table table-striped table-hover">
  <thead>
      <tr>
          <th>Id Itpv</th>
          <th>Id Pdvd</th>
          <th>Id Vlpr</th>
          <th>Id Pdls</th>
          <th>Cod Vend</th>
          <th>Cod Lces</th>
          <th>Desc Ntop Itpv</th>
          <th>Id Orig</th>
          <th>Id Uf Op Itpv</th>
          <th>Id Sitb Icms</th>
          <th>Id Sitb Ipi</th>
          <th>Id Sitb Pis</th>
          <th>Id Sitb Cofins</th>
          <th>Id Mdpd</th>
          <th>Id Mdpd St</th>
          <th>Id Mdsp</th>
          <th>Id Cid Issqn Itpv</th>
          <th>Item Itpv</th>
          <th>Tipo Itpv</th>
          <th>Comanda Itpv</th>
          <th>Hora Itpv</th>
          <th>Qtde Itpv</th>
          <th>Faturado Itpv</th>
          <th>Preco Itpv</th>
          <th>Desconto Itpv</th>
          <th>Frete Itpv</th>
          <th>Seguro Itpv</th>
          <th>Desp Acessoria Itpv</th>
          <th>Condicional Itpv</th>
          <th>Prop Desconto Itpv</th>
          <th>Padrao Desconto Itpv</th>
          <th>Indtot Itpv</th>
          <th>Bicms Itpv</th>
          <th>Picms Itpv</th>
          <th>Icms Itpv</th>
          <th>Ricms Itpv</th>
          <th>Bopicms Itpv</th>
          <th>Ricmsst Itpv</th>
          <th>Mva Icmsst Itpv</th>
          <th>Bicmsst Itpv</th>
          <th>Picmsst Itpv</th>
          <th>Icmsst Itpv</th>
          <th>Bicmsst Uf Emit Itpv</th>
          <th>Icmsst Uf Emit Itpv</th>
          <th>Bicmsst Uf Dest Itpv</th>
          <th>Icmsst Uf Dest Itpv</th>
          <th>Bicmsst Ant Itpv</th>
          <th>Icmsst Ant Itpv</th>
          <th>Pcredicms Itpv</th>
          <th>Credicms Itpv</th>
          <th>Selo Ipi Itpv</th>
          <th>Qselo Ipi Itpv</th>
          <th>Enq Ipi Itpv</th>
          <th>Cnpj Produtor Ipi Itpv</th>
          <th>Calculo Ipi</th>
          <th>Bipi Itpv</th>
          <th>Pipi Itpv</th>
          <th>Qipi Itpv</th>
          <th>Vipi Itpv</th>
          <th>Ipi Itpv</th>
          <th>Calculo Pis</th>
          <th>Bpis Itpv</th>
          <th>Ppis Itpv</th>
          <th>Vpis Itpv</th>
          <th>Qpis Itpv</th>
          <th>Pis Itpv</th>
          <th>Calculo Pisst</th>
          <th>Bpisst Itpv</th>
          <th>Ppisst Itpv</th>
          <th>Vpisst Itpv</th>
          <th>Qpisst Itpv</th>
          <th>Pisst Itpv</th>
          <th>Calculo Cofins</th>
          <th>Bcofins Itpv</th>
          <th>Pcofins Itpv</th>
          <th>Qcofins Itpv</th>
          <th>Vcofins Itpv</th>
          <th>Cofins Itpv</th>
          <th>Calculo Cofinsst</th>
          <th>Bcofinsst Itpv</th>
          <th>Pcofinsst Itpv</th>
          <th>Vcofinsst Itpv</th>
          <th>Qcofinsst Itpv</th>
          <th>Cofinsst Itpv</th>
          <th>Bii Itpv</th>
          <th>Aduii Itpv</th>
          <th>Iofii Itpv</th>
          <th>Ii Itpv</th>
          <th>Obs Itpv</th>
          <th>Info Fisco Itpv</th>
          <th>Tissqn Itpv</th>
          <th>Bissqnst Itpv</th>
          <th>Pissqnst Itpv</th>
          <th>Issqn Itpv</th>
          <th>Vlrmerc Itpv</th>
          <th>Vlrtot Itpv</th>
          <th>Qtde Faturada Itpv</th>
          <th>Qtde Faturar Itpv</th>
      </tr>
  </thead>
</table>
