<table class="table table-striped table-hover">
  <thead>
      <tr>
          <th>Id Mveq</th>
          <th>Id Equip</th>
          <th>Id Oper</th>
          <th>Cod Cli</th>
          <th>Cod Loja</th>
          <th>Id Hseq</th>
          <th>Data Mveq</th>
          <th>Docto Mveq</th>
          <th>Obs Mveq</th>
          <th>Prev Retorno Mveq</th>
      </tr>
  </thead>
</table>
