@{
    Layout = "~/Views/Shared/_Pages.cshtml";
}
@session Scripts {
    <script type="text/javascript" src="@Url.Content("~/Scripts/cadastros/cnaesloja.js")"></script>
}
<form action="/" method="post" class="form-horizontal">
    <fieldset>
        <legend>Cnaes Loja</legend>
    @Html.Hidden("ID_CNLJ")
        <div class="control-group">
            <label class="control-label" for="ID_CNAE">Id Cnae</label>
            <div class="controls">
                @Html.EditorFor(model => model.ID_CNAE)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="COD_LOJA">Cod Loja</label>
            <div class="controls">
                @Html.EditorFor(model => model.COD_LOJA)
            </div>
        </div>
    </fieldset>
</form>
