<table class="table table-striped table-hover">
  <thead>
      <tr>
          <th>Id Cpfs</th>
          <th>Ecf Cpfs</th>
          <th>Coo Cpfs</th>
          <th>Modelo Cpfs</th>
      </tr>
  </thead>
</table>
