<table class="table table-striped table-hover">
  <thead>
      <tr>
          <th>Cod Ctcl</th>
          <th>Tipo Ctcl</th>
          <th>Data Ctcl</th>
          <th>Obs Ctcl</th>
          <th>Cod Cli</th>
      </tr>
  </thead>
</table>
