<table class="table table-striped table-hover">
  <thead>
      <tr>
          <th>Id Veic</th>
          <th>Placa Veic</th>
          <th>Id Cid</th>
          <th>Rntc Veic</th>
          <th>Cod Tran</th>
      </tr>
  </thead>
</table>
