@{
    Layout = "~/Views/Shared/_Pages.cshtml";
}
@session Scripts {
    <script type="text/javascript" src="@Url.Content("~/Scripts/cadastros/entregadores.js")"></script>
}
<form action="/" method="post" class="form-horizontal">
    <fieldset>
        <legend>Entregadores</legend>
    @Html.Hidden("COD_ENTR")
        <div class="control-group">
            <label class="control-label" for="ATIVO_ENTR">Ativo Entr</label>
            <div class="controls">
                @Html.EditorFor(model => model.ATIVO_ENTR)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="ID_PESSOA">Id Pessoa</label>
            <div class="controls">
                @Html.EditorFor(model => model.ID_PESSOA)
            </div>
        </div>
    </fieldset>
</form>
