<table class="table table-striped table-hover">
  <thead>
      <tr>
          <th>Cod Grtp</th>
          <th>Desc Grtp</th>
          <th>Origem Grtp</th>
          <th>Ticms Grtp</th>
          <th>Tipi Grtp</th>
          <th>Tpis Grtp</th>
          <th>Tcofins Grtp</th>
      </tr>
  </thead>
</table>
