<table class="table table-striped table-hover">
  <thead>
      <tr>
          <th>Id Lycn</th>
          <th>Cod Bco</th>
          <th>Id Ctcr</th>
          <th>Tiporeg Lycn</th>
          <th>Seq Lycn</th>
          <th>Campo Lycn</th>
          <th>Somadias Lycn</th>
          <th>Tamanho Lycn</th>
          <th>Alinha Lycn</th>
          <th>Carpre Lycn</th>
          <th>Texto Lycn</th>
      </tr>
  </thead>
</table>
