<table class="table table-striped table-hover">
  <thead>
      <tr>
          <th>Cod Ban</th>
          <th>Id Pessoa</th>
          <th>Ativo Ban</th>
          <th>Icone Ban</th>
      </tr>
  </thead>
</table>
