<table class="table table-striped table-hover">
  <thead>
      <tr>
          <th>Id Ctec</th>
          <th>Id Ecf</th>
          <th>Cod Cdtr</th>
          <th>Comando Ctec</th>
          <th>Tipocomando Ctec</th>
          <th>Tamcomando Ctec</th>
      </tr>
  </thead>
</table>
