<table class="table table-striped table-hover">
  <thead>
      <tr>
          <th>Id Nmmp</th>
          <th>Data Nmmp</th>
          <th>Numero Nmmp</th>
          <th>Cod Loja</th>
      </tr>
  </thead>
</table>
