<table class="table table-striped table-hover">
  <thead>
      <tr>
          <th>Name</th>
          <th>Name</th>
          <th>Principal Id</th>
          <th>Diagram Id</th>
          <th>Version</th>
          <th>Definition</th>
      </tr>
  </thead>
</table>
