<table class="table table-striped table-hover">
  <thead>
      <tr>
          <th>Id Aces</th>
          <th>Cod Prod Pai</th>
          <th>Cod Prod Filho</th>
          <th>Quantidade Aces</th>
      </tr>
  </thead>
</table>
