<table class="table table-striped table-hover">
  <thead>
      <tr>
          <th>Id Espr</th>
          <th>Cod Lces</th>
          <th>Id Vlpr</th>
          <th>Cod Loja</th>
          <th>Estoque Espr</th>
      </tr>
  </thead>
</table>
