<table class="table table-striped table-hover">
  <thead>
      <tr>
          <th>Id Vid</th>
          <th>Guid Vid</th>
          <th>Titulo Vid</th>
          <th>Texto Vid</th>
          <th>Data Vid</th>
          <th>Conteudo Vid</th>
          <th>Imagem Vid</th>
      </tr>
  </thead>
</table>
