<table class="table table-striped table-hover">
  <thead>
      <tr>
          <th>Id Srnf</th>
          <th>Numero Srnf</th>
          <th>Cod Loja</th>
          <th>Principal Srnf</th>
      </tr>
  </thead>
</table>
