<table class="table table-striped table-hover">
  <thead>
      <tr>
          <th>Id Pdvd</th>
          <th>Numero Pdvd</th>
          <th>Cod Loja</th>
          <th>Cod Cli</th>
          <th>Desc Ntop Pdvd</th>
          <th>Desc Ntop Tran Pdvd</th>
          <th>Id Oper</th>
          <th>Id Vda</th>
          <th>Cod Cdpg</th>
          <th>Cod Vend</th>
          <th>Cod Tran</th>
          <th>Id Veic</th>
          <th>Data Pdvd</th>
          <th>Emissao Pdvd</th>
          <th>Condicional Pdvd</th>
          <th>Bicms Pdvd</th>
          <th>Icms Pdvd</th>
          <th>Bicmsst Pdvd</th>
          <th>Icmsst Pdvd</th>
          <th>Ipi Pdvd</th>
          <th>Ipist Pdvd</th>
          <th>Pis Pdvd</th>
          <th>Pisst Pdvd</th>
          <th>Cofins Pdvd</th>
          <th>Cofinsst Pdvd</th>
          <th>Vlrmerc Pdvd</th>
          <th>Frete Pdvd</th>
          <th>Seguro Pdvd</th>
          <th>Desconto Pdvd</th>
          <th>Desp Acessoria Pdvd</th>
          <th>Vlrtot Pdvd</th>
          <th>Obs Pdvd</th>
          <th>Tipo Pdvd</th>
          <th>Status Pdvd</th>
          <th>Id Enps Cli Pdvd</th>
          <th>Id Enps Ent Pdvd</th>
          <th>Id Enps Loja Pdvd</th>
          <th>Id Enps Ret Pdvd</th>
          <th>Id Enps Tran Pdvd</th>
          <th>Ii Pdvd</th>
          <th>Birrf Pdvd</th>
          <th>Irrf Pdvd</th>
          <th>Bprev Pdvd</th>
          <th>Prev Pdvd</th>
          <th>Ripi Pdvd</th>
          <th>Rpis Pdvd</th>
          <th>Rcofins Pdvd</th>
          <th>Rcsll Pdvd</th>
          <th>Modfrete Pdvd</th>
          <th>Bicms Tran Pdvd</th>
          <th>Picms Tran Pdvd</th>
          <th>Icms Tran Pdvd</th>
          <th>Valor Tran Pdvd</th>
          <th>Pesoliq Pdvd</th>
          <th>Pesobrt Pdvd</th>
      </tr>
  </thead>
</table>
