<table class="table table-striped table-hover">
  <thead>
      <tr>
          <th>Id Mvpd</th>
          <th>Data Mvpd</th>
          <th>Turno Mvpd</th>
          <th>Id Pdv</th>
          <th>Cod Loja</th>
          <th>Id Oper</th>
          <th>Situacao Mvpd</th>
          <th>Horaini Mvpd</th>
          <th>Horafec Mvpd</th>
          <th>Id Oper Supa</th>
          <th>Id Oper Supf</th>
          <th>Acrescimos Mvpd</th>
      </tr>
  </thead>
</table>
