<table class="table table-striped table-hover">
  <thead>
      <tr>
          <th>Id Rcvd</th>
          <th>Id Vda</th>
          <th>Seq Rcvd</th>
          <th>Cod Tprc</th>
          <th>Cod Strc</th>
          <th>Cod Prst</th>
          <th>Valor Rcvd</th>
          <th>Liquido Rcvd</th>
      </tr>
  </thead>
</table>
