<table class="table table-striped table-hover">
  <thead>
      <tr>
          <th>Id Msg</th>
          <th>Tela Msg</th>
          <th>Qtdexib Msg</th>
          <th>Intervalo Msg</th>
          <th>Dataini Msg</th>
          <th>Datafin Msg</th>
          <th>Fechar Msg</th>
          <th>Tempo Msg</th>
          <th>Emitente Msg</th>
          <th>Mensagem Msg</th>
          <th>Pesquisa Msg</th>
          <th>Minresp Msg</th>
          <th>Maxresp Msg</th>
          <th>Opcoes Msg</th>
          <th>Cod Loja</th>
          <th>Id Vlgr</th>
      </tr>
  </thead>
</table>
