<table class="table table-striped table-hover">
  <thead>
      <tr>
          <th>Id Fnpf</th>
          <th>Id Perf</th>
          <th>Id Fnpr</th>
          <th>Permitido Fnpf</th>
      </tr>
  </thead>
</table>
