<table class="table table-striped table-hover">
  <thead>
      <tr>
          <th>Id Inpd</th>
          <th>Id Pdv</th>
          <th>Id Tab</th>
          <th>Instr Inpd</th>
          <th>Valchave Inpd</th>
          <th>Operacao Inpd</th>
          <th>Data Inpd</th>
      </tr>
  </thead>
</table>
