<table class="table table-striped table-hover">
  <thead>
      <tr>
          <th>Id Tpds</th>
          <th>Id Grds</th>
          <th>Desc Tpds</th>
          <th>Histobrig Tpds</th>
          <th>Padraozero Tpds</th>
          <th>Margem Tpds</th>
          <th>Valorpadrao Tpds</th>
      </tr>
  </thead>
</table>
