<table class="table table-striped table-hover">
  <thead>
      <tr>
          <th>Id Agen</th>
          <th>Numero Agen</th>
          <th>Digito Agen</th>
          <th>Nome Agen</th>
          <th>Obs Agen</th>
          <th>Cod Bco</th>
      </tr>
  </thead>
</table>
