<table class="table table-striped table-hover">
  <thead>
      <tr>
          <th>Id Mprs</th>
          <th>Data Mprs</th>
          <th>Numero Mprs</th>
          <th>Cod Loja</th>
          <th>Id Ecf</th>
          <th>Contop Mprs</th>
          <th>Gtini Mprs</th>
          <th>Gtfin Mpsr</th>
          <th>Movdia Mprs</th>
          <th>Cancdia Mprs</th>
          <th>Descdia Mprs</th>
          <th>Liquido Mprs</th>
          <th>Contred Mprs</th>
          <th>Substrib Mprs</th>
          <th>Isentos Mprs</th>
          <th>Naotrib Mprs</th>
          <th>Controp Mprs</th>
          <th>Contopfin Mprs</th>
      </tr>
  </thead>
</table>
