<table class="table table-striped table-hover">
  <thead>
      <tr>
          <th>Cod Strc</th>
          <th>Cod Tprc</th>
          <th>Desc Strc</th>
          <th>Cod Ban</th>
      </tr>
  </thead>
</table>
