<table class="table table-striped table-hover">
  <thead>
      <tr>
          <th>Id Pdtr</th>
          <th>Id Entr</th>
          <th>Id Vlpr</th>
          <th>Qtde Pdtr</th>
          <th>Id Iten</th>
      </tr>
  </thead>
</table>
