<table class="table table-striped table-hover">
  <thead>
      <tr>
          <th>Id Vdpc</th>
          <th>Cod Loja</th>
          <th>Id Vlpr</th>
          <th>Qtde Itvd</th>
          <th>Preco Itvd</th>
          <th>Custo Prod</th>
          <th>Data Vda</th>
          <th>Devolucao Itvd</th>
      </tr>
  </thead>
</table>
