<table class="table table-striped table-hover">
  <thead>
      <tr>
          <th>Id Lybl</th>
          <th>Cod Bco</th>
          <th>Id Ctcr</th>
          <th>Linha Lybl</th>
          <th>Coluna Lybl</th>
          <th>Tamcar Lybl</th>
          <th>Vertical Lybl</th>
          <th>Horizontal Lybl</th>
          <th>Tammmm Lybl</th>
          <th>Tipocar Lybl</th>
          <th>Campo Lybl</th>
          <th>Somadias Lybl</th>
          <th>Extini Lybl</th>
          <th>Exttam Lybl</th>
          <th>Texto Lybl</th>
      </tr>
  </thead>
</table>
