<table class="table table-striped table-hover">
  <thead>
      <tr>
          <th>Cod Situ</th>
          <th>Nome Situ</th>
          <th>Cor Situ</th>
          <th>Acao Situ</th>
      </tr>
  </thead>
</table>
