<table class="table table-striped table-hover">
  <thead>
      <tr>
          <th>Id Oper</th>
          <th>Cod Oper</th>
          <th>Cod Loja</th>
          <th>Codljop Oper</th>
          <th>Datacad Oper</th>
          <th>Id Pessoa</th>
          <th>Nivelpdv Oper</th>
          <th>Nivelret Oper</th>
          <th>Nivelloja Oper</th>
          <th>Perdesc Oper</th>
          <th>Valdesc Oper</th>
          <th>Cartst Oper</th>
          <th>Trilha Oper</th>
          <th>Id Perf</th>
          <th>Tema Oper</th>
          <th>Ativo Oper</th>
          <th>Msginativo Oper</th>
      </tr>
  </thead>
</table>
