<table class="table table-striped table-hover">
  <thead>
      <tr>
          <th>Id Trib</th>
          <th>Cod Trib</th>
          <th>Tipo Trib</th>
          <th>Desc Trib</th>
          <th>Obs Trib</th>
      </tr>
  </thead>
</table>
