<table class="table table-striped table-hover">
  <thead>
      <tr>
          <th>Id Equip</th>
          <th>Id Tpeq</th>
          <th>Serie Equip</th>
          <th>Serieobrig Equip</th>
          <th>Diasdevopad Equip</th>
          <th>Desc Equip</th>
          <th>Codbar Equip</th>
          <th>Valor Equip</th>
          <th>Cod Cli</th>
          <th>Cod Loja</th>
          <th>Qtde Equip</th>
      </tr>
  </thead>
</table>
