<table class="table table-striped table-hover">
  <thead>
      <tr>
          <th>Id Prpd</th>
          <th>Cod Prop</th>
          <th>Cod Prod</th>
          <th>Ordem Prpr</th>
      </tr>
  </thead>
</table>
