<table class="table table-striped table-hover">
  <thead>
      <tr>
          <th>Id Dcim</th>
          <th>Localdesemb Dcim</th>
          <th>Id Uf</th>
          <th>Datadesemb Dcim</th>
          <th>Cod Expo</th>
          <th>Id Vda</th>
      </tr>
  </thead>
</table>
