<table class="table table-striped table-hover">
  <thead>
      <tr>
          <th>Id Mvnt</th>
          <th>Cod Loja</th>
          <th>Data Mvnt</th>
          <th>Controle Mvnt</th>
          <th>Id Oper</th>
      </tr>
  </thead>
</table>
