<table class="table table-striped table-hover">
  <thead>
      <tr>
          <th>Id Pdv</th>
          <th>Numero Pdv</th>
          <th>Cod Loja</th>
          <th>Descricao Pdv</th>
          <th>Id Ecf</th>
          <th>Cod Lista</th>
          <th>Cod Grpd</th>
      </tr>
  </thead>
</table>
