<table class="table table-striped table-hover">
  <thead>
      <tr>
          <th>Id Tres</th>
          <th>Id Oper</th>
          <th>Cod Forn</th>
          <th>Cod Cli</th>
          <th>Cod Lces</th>
          <th>Cod Tpmv</th>
          <th>Id Vlpr</th>
          <th>Data Tres</th>
          <th>Qtde Tres</th>
          <th>Estant Tres</th>
          <th>Estatu Tres</th>
          <th>Valor Tres</th>
          <th>Docto Tres</th>
          <th>Operacao Tres</th>
          <th>Id Iten</th>
          <th>Id Itvd</th>
          <th>Datasis</th>
          <th>Cod Loja</th>
          <th>Id Itmv</th>
          <th>Id Itiv</th>
      </tr>
  </thead>
</table>
