<table class="table table-striped table-hover">
  <thead>
      <tr>
          <th>Id Vdcb</th>
          <th>Cod Loja</th>
          <th>Vlrmerc Vda</th>
          <th>Desconto Vda</th>
          <th>Acrescimo Vda</th>
          <th>Txentr Vda</th>
          <th>Servico Vda</th>
          <th>Ipi Vda</th>
          <th>Baseicms Vda</th>
          <th>Icms Vda</th>
          <th>Pessoas Vda</th>
          <th>Data Vda</th>
          <th>Devolucao Itvd</th>
      </tr>
  </thead>
</table>
