<table class="table table-striped table-hover">
  <thead>
      <tr>
          <th>Id Itpc</th>
          <th>Id Pdcp</th>
          <th>Id Vlpr</th>
          <th>Id Pdls</th>
          <th>Cod Vend</th>
          <th>Cod Lces</th>
          <th>Cfop Ntop</th>
          <th>Id Orig</th>
          <th>Id Uf Op Itpc</th>
          <th>Id Sitb Icms</th>
          <th>Id Sitb Ipi</th>
          <th>Id Sitb Pis</th>
          <th>Id Sitb Cofins</th>
          <th>Id Mdpd</th>
          <th>Id Mdpd St</th>
          <th>Id Mdsp</th>
          <th>Id Cid Issqn Itpc</th>
          <th>Item Itpc</th>
          <th>Tipo Itpc</th>
          <th>Comanda Itpc</th>
          <th>Hora Itpc</th>
          <th>Qtde Itpc</th>
          <th>Faturado Itpc</th>
          <th>Preco Itpc</th>
          <th>Desconto Itpc</th>
          <th>Frete Itpc</th>
          <th>Seguro Itpc</th>
          <th>Desp Acessoria Itpc</th>
          <th>Condicional Itpc</th>
          <th>Prop Desconto Itpc</th>
          <th>Padrao Desconto Itpc</th>
          <th>Indtot Itpc</th>
          <th>Bicms Itpc</th>
          <th>Picms Itpc</th>
          <th>Icms Itpc</th>
          <th>Ricms Itpc</th>
          <th>Bopicms Itpc</th>
          <th>Ricmsst Itpc</th>
          <th>Mva Icmsst Itpc</th>
          <th>Bicmsst Itpc</th>
          <th>Picmsst Itpc</th>
          <th>Icmsst Itpc</th>
          <th>Bicmsst Uf Emit Itpc</th>
          <th>Icmsst Uf Emit Itpc</th>
          <th>Bicmsst Uf Dest Itpc</th>
          <th>Icmsst Uf Dest Itpc</th>
          <th>Bicmsst Ant Itpc</th>
          <th>Icmsst Ant Itpc</th>
          <th>Selo Ipi Itpc</th>
          <th>Qselo Ipi Itpc</th>
          <th>Enq Ipi Itpc</th>
          <th>Cnpj Produtor Ipi Itpc</th>
          <th>Calculo Ipi</th>
          <th>Bipi Itpc</th>
          <th>Pipi Itpc</th>
          <th>Qipi Itpc</th>
          <th>Vipi Itpc</th>
          <th>Ipi Itpc</th>
          <th>Calculo Pis</th>
          <th>Bpis Itpc</th>
          <th>Ppis Itpc</th>
          <th>Qpis Itpc</th>
          <th>Pis Itpc</th>
          <th>Calculo Pisst</th>
          <th>Bpisst Itpc</th>
          <th>Ppisst Itpc</th>
          <th>Qpisst Itpc</th>
          <th>Pisst Itpc</th>
          <th>Calculo Cofins</th>
          <th>Bcofins Itpc</th>
          <th>Pcofins Itpc</th>
          <th>Qcofins Itpc</th>
          <th>Cofins Itpc</th>
          <th>Calculo Cofinsst</th>
          <th>Bcofinsst Itpc</th>
          <th>Pcofinsst Itpc</th>
          <th>Qcofinsst Itpc</th>
          <th>Cofinsst Itpc</th>
          <th>Bii Itpc</th>
          <th>Aduii Itpc</th>
          <th>Iofii Itpc</th>
          <th>Ii Itpc</th>
          <th>Obs Itpc</th>
          <th>Tissqn Itpc</th>
          <th>Bissqnst Itpc</th>
          <th>Pissqnst Itpc</th>
          <th>Issqn Itpc</th>
          <th>Vlrmerc Itpc</th>
          <th>Vlrtot Itpc</th>
          <th>Qtde Faturada Itpc</th>
          <th>Qtde Faturar Itpc</th>
      </tr>
  </thead>
</table>
