<table class="table table-striped table-hover">
  <thead>
      <tr>
          <th>Id Prpd</th>
          <th>Id Pdv</th>
          <th>Id Tppd</th>
          <th>Valor Prpd</th>
          <th>Texto Prpd</th>
      </tr>
  </thead>
</table>
