<table class="table table-striped table-hover">
  <thead>
      <tr>
          <th>Id Ctcr</th>
          <th>Id Agen</th>
          <th>Conta Ctcr</th>
          <th>Nome Ctcr</th>
          <th>Saldoatu Ctcr</th>
          <th>Cnab Ctcr</th>
      </tr>
  </thead>
</table>
